<script>
  window.abrwl = {
    customerId: '{{ customer.id }}',
    root_url: '{{ routes.root_url }}',
  };
</script>
<style>
  .abr-wl-button {
    cursor: pointer;
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .abr-wl-button.awl-is-added {
    background-color: #000;
  }
</style>

{% comment %} page base setupe {% endcomment %}
<style>
  .abrwl-page {
    min-height: 300px;
  }
</style>

<div>Current:<span class="abr-wl-count" abr-wl-count>0</span></div>
{% comment %} base styling in separate css {% endcomment %}

<button type="button" onclick="window.wl.getRemoteWishlist()">Get wishlist</button>
<button type="button" onclick="window.wl.fetchListById('MTczNzQ2ODE5MjI0NQ')">Get selected list items</button>
<button type="button" class="abr-wl-button" abr-wl-button data-product-id="{{ product.id }}"></button>

{% comment %} todo - add aria-label {% endcomment %}

{% comment %}
   1. check localstorage before drawing
    1) if empty wl - don't use the list id
    2) if only 1 list - we add id under the hood
    3) if a few lists - show the popup

  2. Style button by classlist

  3. Use only 1 wishlist for now
{% endcomment %}

<div class="abrwl-page" id="abrwl-page">
  WL page
  <nav class="wishlists">
    Wishlists
    <ul>

    </ul>
  </nav>
  <ul class="abrwl-page__list">
    Products

  </ul>
</div>

<script src="{{ 'abrwl-main.js' | asset_url }}" defer="defer"></script>

{% comment %} page script will be inserted using APP block  {% endcomment %}
<script src="{{ 'abrwl-page.js' | asset_url }}" defer="defer"></script>
